main, h1{ padding: 1em;}

html{
  background-color: lightgray;
  color : orangered
}

img{
  height: 10rem;
  width: auto;
  border-radius: 30px;
  box-shadow: 10px 5px 5px black;
}

main p{
  background-color: gainsboro;
  color : orangered;
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
}

footer{
  border: thin solid black;
  color : orangered;
}

ul{
  list-style-type: none;
}